@model IEnumerable<BookStoreMVC.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div style="margin-left: 5%; margin-bottom: 1%">
    <div class="row">
        <div class="col-sm-8">
            <div>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            </div>
           

        </div>
        <div  class="col-sm-4">
            @using (Html.BeginForm("Index", "Book", FormMethod.Get))
            {
                <div class="row">
                   @Html.TextBox("id", null, new { @class = "form-control form-right"}) <span class="icon-bar"> &nbsp &nbsp</span>
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
    
    
</div>
<table class="table" style="margin-left: 1% ; margin-right: 1%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProducedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProducedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>
